/* =====================
rationale for the color scheme and typography:
i decided to use big shoulder stencil
beacuse it is a bold and strong font that
will make the text stand out. 
====================== */

/* h1 {
  color: red;
}
h2 {
  color: orange;
}
h3 {
  color: darkcyan;
}

p {
  color: blue;
  font-weight: bold;
}
li {
  color: green;
} */

.purple-color {
  color: #8d8cda;
}

 h1 {
  color: red;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
 }

 h3 {
    color: lime;
    font-size: 2rem;
 }

.blue-color {
  color: blue;
}

#pink-color {
  color: pink;
}

body {
  background-color: beige;
  font-size: 1.4rem;
}

h1 {
  color: lime;
}

section {
  text-align: center;
  border: 1px solid yellow;
}

.heading-border {
    border: 3px dashed green;
}

/*
Curly braces {}
Parentheses <>
Square brackets []
Round brackets()
Colon:
Semicolon ;
